<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BugGuardianConfiguration" type="DBTek.BugGuardian.Config.BugGuardianConfiguration, DBTek.BugGuardian.Standard" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <BugGuardianConfiguration>
    <BugGuardianSettings>
      <add key="Url" value="https://dbtek.visualstudio.com" />
      <add key="Username" value="n3wt0n" />
      <add key="Password" value="gavioli!2015" />
      <!-- Optional -->
      <add key="CollectionName" value="DefaultCollection" />
      <add key="ProjectName" value="Labs" />
      <!-- Optional -->
      <add key="AvoidMultipleReport" value="true" />
    </BugGuardianSettings>
  </BugGuardianConfiguration>

</configuration>