################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj
**/packages
**/.vs
 
*.suo
*.user
**/project.lock.json

/NuGet/Package/lib/dotnet/*
/NuGet/Package/lib/net45/*
/NuGet/Package/lib/win8/*
/NuGet/Package/lib/wp8/*
*.nupkg
